[tool.black]
skip_numeric_underscore_normalization = true
exclude = ".*(venv|virtualenv|.poetry|migrations|node_modules)"

[tool.isort]
profile = "black"
multi_line_output = 3
skip = '.virtualenv,.venv,.poetry,.poetry-cache'

[tool.poetry]
name = "celery-exporter"
version = "0.4.0"
description = ""
authors = ["Dani Hodovic <dani.hodovic@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
celery = "^5.0"
prometheus-client = "^0.13.1"
click = "^8.0.4"
pretty-errors = "^1.2.19"
loguru = "^0.6.0"
redis = "^4.2.2"
Flask = "^2.0.3"
waitress = "^2.0.0"
pylint = "^2.7.1"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
black = "^22.1.0"
isort = "^5.10.1"
jedi = "^0.18.0"
pytest-celery = "^0.0.0-alpha.1"
pudb = "^2020.1"
requests = "^2.25.1"
pylint = "^2.7.1"
pytest-cov = "^3.0.0"
ptpython = "^3.0.13"
pytest-mock = "^3.5.1"
pyinstaller = "v4.0"
staticx = "^0.13.6"
mypy = "^0.931"
types-requests = "^2.27.11"
types-waitress = "^2.0.6"
celery-types = "^0.11.0"

[build-system]
requires = ["poetry-core>=1.0.0a5"]
build-backend = "poetry.core.masonry.api"
